h1{
    margin: 30px auto;
    text-align: center;
}

.match-div{
    margin: 20px auto;
    padding: 20px 0px;
    width: 30%;
    box-shadow: lightgray 4px 4px 40px;  
    text-align: center; 
    
}

.all-matchs-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.perfect{
    background: linear-gradient(to bottom, green, white);
    color: black;
    & >div{
        color: black;
    }
}

.good{
    background: linear-gradient(to bottom, greenyellow, white);
    color: black;
    & >div{
        color: black;
    }
}

.wrong{
    background: linear-gradient(to bottom, darkred, white);
    color: black;
    & >div{
        color: black;
    }
}

div{
    color:white;
}