
<div class="form-box">
    <h2>Créer un match</h2>
    <form [formGroup]="matchForm" (submit)="onCreateMatch()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nom 1</mat-label>
                <mat-select formControlName="nom1">
                    <mat-option *ngFor="let nom of noms" [value]="nom">
                    {{nom}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
            <mat-form-field appearance="fill">
                <mat-label>Region 1</mat-label>
                <mat-select formControlName="region1">
                    <mat-option *ngFor="let region of regions" [value]="region">
                    {{region}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nom 2</mat-label>
                <mat-select formControlName="nom2">
                    <mat-option *ngFor="let nom of noms" [value]="nom">
                    {{nom}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
            <mat-form-field appearance="fill">
                <mat-label>Region 2</mat-label>
                <mat-select formControlName="region2">
                    <mat-option *ngFor="let region of regions" [value]="region">
                    {{region}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Stage</mat-label>
                <mat-select formControlName="stage">
                    <mat-option *ngFor="let stage of stages" [value]="stage">
                    {{stage}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Date</mat-label>
                <input matInput formControlName="date">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Heure</mat-label>
                <input type="number" matInput formControlName="heure">
            </mat-form-field>
        </div>
        <div id="authentication-div">
            <button mat-raised-button color="primary" [disabled]="!matchForm.valid" type="submit">Creer le match</button>
        </div>
    </form>
</div> 