table{
    width: 100%;
    height: 100%;
}

.mat-column-Position {
    width: 10%;
    border-right: 2px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-Name {
    width: 20%;
    padding-right: 24px;
    text-align: center;
}

.mat-column-Score {
    width: 20%;
    padding-right: 24px;
    text-align: center;
}

.mat-column-Pronostics {
    width: 20%;
    padding-right: 24px;
    text-align: center;
}

.first{
    color: gold;
    font-size: xx-large;
}

.second{
    color: silver;
    font-size: x-large;
}

.third{
    color : brown;
    font-size: large;
}