<mat-toolbar color="primary">
    <button id="menu-button" mat-icon-button color="basic">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="titre">Prono Worlds</span>
    <span class="right-elements"></span> 
    <button mat-icon-button color="basic">
        <mat-icon routerLink="">home</mat-icon>
    </button>
    <button *ngIf="signedIn" mat-icon-button color="basic">
        <mat-icon (click)="this.auth.logout()">power_settings_new</mat-icon>
    </button>
    <button *ngIf="!signedIn" mat-icon-button color="basic">
        <mat-icon routerLink="login">lock_open</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav position="start" mode="push">
        <mat-nav-list>
            <a mat-button color="primary" class="links" routerLink="profil" (click)="sidenav.close()"> Historique </a>
            <a mat-button color="primary" class="links" routerLink="matchs" (click)="sidenav.close()"> Pronostiquer </a>
            <a mat-button color="primary" class="links" routerLink="ranking" (click)="sidenav.close()"> Classement </a>
            <a *ngIf="(user != null && user.uid == adminId)" mat-button color="primary" class="links" routerLink="manage" (click)="sidenav.close()"> Creer un match </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>