mat-sidenav-container{
    height:100%;
}

#menu-button{
    margin-right: 20px;
}
.right-elements{
    flex: 1;
}

ul{
    text-decoration: none;
    list-style: none;
}

.titre{
    font-size: larger;
}

.links{
    font-size: large;
    padding:20px 0px;
    margin-left: 0px;
    width:100%;
}