h1 {
    text-align: center;
}

.form-box {
    box-sizing: border-box;
    width: 35%;
    margin: 150px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 40px;
    text-align: center;
}

.select-div{
    display: flex;
    justify-content: space-evenly;
}

